@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {background: #F9F9F9;color: #191919;}
*{font-family: "Noto Sans KR", sans-serif !important;}
.shadow{
    -webkit-box-shadow: 0 0.555vw 2.888vw rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0.555vw 2.888vw rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.555vw 2.888vw rgba(0, 0, 0, 0.1);
  }

select{background: none;border: none;color: #000}
.grid{width: 90%;margin: 0px auto;display: block;;}
input{border:none;background: none;-webkit-appearance: none;-webkit-border-radius: 0;}
button{background: none;border:none;}




header{transition: 0.2s all;z-index: 999;}
.hd_1,.hd_2{position: fixed;left: 0;top: 0;width: 100%;padding: 5vw 0;background: #F9F9F9;}
.hd_3{background: none;}
.hd_1>div,.hd_2>div{width: 90%;margin: 0px auto;display: flex;justify-content: space-between;}
.hd_1>div>h1{width: 22.222vw;display: block;padding: 2.333vw 0;}
.hd_1>div>button{width: 11.111vw;height: 8vw;}
.hd_1>div>button.hd_menu{background: url(../img/menu.png)no-repeat center left/50%;}
.hd_1>div>.my_bt{width: 11.111vw;background: url(../img/bell.png)no-repeat center/60%;border: none;position: relative;}
.hd_1>div>.my_bt>.mypage_new{position: absolute;right: 1.111vw;top: 1.111vw;width: 2.333vw;height: 2.333vw;border-radius: 50%;background: #f26767;}

.ft2{position: fixed;left: 0;bottom: 0;width: 100%;z-index: 999;background: #F3F3F3;font-size: 3.333vw;color: #999;text-align: center;padding: 3.888vw;box-sizing: border-box;}

.ex_2{position: relative;}
.ht_u{position: absolute;left: 50%;bottom: -23vw;transform: translateX(-50%);background: rgba(0,0,0,0.8);color: #fff;width: 100%;box-sizing: border-box;padding: 3.888vw 4.444vw;border-radius: 0 2.333vw 2.333vw 2.333vw;display: block;}

.hd_2>div h2{font-size: 5vw;}
.hd_2>div .hd_back{border: none;background: url(../img/back.png)no-repeat center/3.333vw;width: 6vw;height: 8vw;}
.hd_2>div .hd_back2{border: none;background: url(../img/back.png)no-repeat center/3.333vw;width: auto;height: 8vw;font-size: 5vw;font-weight: bold;padding-left: 8vw;background: url(../img/back.png)no-repeat left center/3.888vw;color: #000;}
.hd_2>div .hd_back3{background: none;padding-left: 0;font-size: 4.444vw;font-weight: 900;width: auto;color: #FF2222;;}
.hd_2>div .hd_back3 span{color: #000;}
.hd_2>div .hd_back4{color: #7F91ED;}

.hd_not{border: none;background: none;}

.hd_bell{background: url(../img/z20.png)no-repeat center/60%;}

.trick{width: 100%;height: 20.444vw;}
.trick2{width: 100%;height: 37.444vw;}
.trick3{width: 100%;height: 28.444vw;}

.main_map{display: flex;justify-content: space-between;background: #fff;box-sizing: border-box;padding: 3.333vw 4.444vw;border-radius: 2.333vw;margin-bottom: 6.666vw;}
.main_map>p{font-size: 3.888vw;color: #999;}
.main_map>button{width: 5.555vw;height: 5.555vw;background: url(../img/mao.png)no-repeat center/100%;}

.main_tab{margin-bottom: 4.444vw;padding-bottom: 4.444vw;border-bottom: 1px solid #ccc;}

.main_event{margin-bottom: 4.444vw;padding-bottom: 4.444vw;border-bottom: 1px solid #ccc;}
.main_event>h2{font-size: 5.555vw;font-weight: bold;padding-bottom: 6.666vw;}
.for_bt{display: inline-block;width: 5.555vw;height: 5.555vw;margin-left: 4.444vw;background: url(../img/for.png)no-repeat center/90%;}

.swr_bor{border-radius: 1.111vw;overflow: hidden;margin-bottom: 4.444vw;}
.swr_h3{font-size: 4.444vw;padding-bottom: 2.333vw;}
.swr_p{font-size: 3.333vw;}

.main_guin>h2{font-size: 5.555vw;font-weight: bold;padding-bottom: 2.333vw;}
.main_guin>p{font-size: 3.888vw;}
.main_guin>ul>li{padding: 4.444vw 0;border-bottom: 1px solid #F1F1F1;display: flex;justify-content: space-between;}
.main_guin>ul>li>button{width: 5.555vw;height: 5.555vw;background: url(../img/az.png)no-repeat center/90%;margin: 3.888vw 0;}
.main_guin>ul>li>div>p:nth-child(1){font-size: 3.888vw;}
.main_guin>ul>li>div>p:nth-child(2){font-size: 3.888vw;color: #707070;}

.main_dogge{margin: 6.666vw auto;}
.main_dogge>h2{font-size: 5.555vw;font-weight: bold;padding-bottom: 2.333vw;}
.main_dogge>p{font-size: 3.888vw;padding-bottom: 6.666vw;}

.top_bt{width: 20.555vw;height: 20.555vw;;}

.bt_wrap{position: fixed;left: 50%;bottom: 7.333VW;transform: translateX(-50%);z-index: 999;}
.bt_wrap>div{display: flex;justify-content: space-between;margin-bottom: 6.666vw;}
.bt_wrap>div a{display: block;width: 20.555vw;}
.bt_nav{box-shadow: 0px 3px 6px rgba(0,0,0,0.16);box-sizing: border-box;padding: 4.444vw;background: #fff;border-radius: 2.333vw;display: flex;justify-content: space-around;}
.bt_nav>li{width: 6.666vw;height: 6.666vw;border-bottom: 1px solid #fff;padding-bottom: 1.111vw;}
.bt_nav>li:nth-child(1){background: url(../img/f1.png)no-repeat center/90%;}
.bt_nav>li:nth-child(1).ft_on{background: url(../img/f1_on.png)no-repeat center/90%;border-bottom: 1px solid #EDD87F;}
.bt_nav>li:nth-child(2){background: url(../img/f2.png)no-repeat center/90%;}
.bt_nav>li:nth-child(2).ft_on{background: url(../img/f2_on.png)no-repeat center/90%;border-bottom: 1px solid #EDD87F;}
.bt_nav>li:nth-child(3){background: url(../img/f3.png)no-repeat center/90%;}
.bt_nav>li:nth-child(3).ft_on{background: url(../img/f3_on.png)no-repeat center/90%;border-bottom: 1px solid #EDD87F;}
.bt_nav>li:nth-child(4){background: url(../img/f4.png)no-repeat center/90%;}
.bt_nav>li:nth-child(4).ft_on{background: url(../img/f4_on.png)no-repeat center/90%;border-bottom: 1px solid #EDD87F;}
.ham_bg{position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 9998;display: none;}
.ham_wrap{position: fixed;left: -70vw;top: 0;width: 64.444vw;height: 100%;background: #fff;z-index: 9999;transition: 0.2s all;}
.ham_on{left: 0;}
.ham_wrap>div:nth-child(1){padding: 6.666vw 4.444vw 11.111vw;border-bottom: 1px solid #ccc;}
.ham_wrap>div:nth-child(1)>div:nth-child(1){display: flex;margin-bottom: 12.777vw;}
.ham_wrap>div:nth-child(1)>div:nth-child(1)>div{width: 6.888vw;height: 6.888vw;margin-right: 8.333vw;background: url(../img/menu.png)no-repeat center/60%;}
.ham_wrap>div:nth-child(1)>div:nth-child(1)>h2{font-size: 5vw;}

.ham_wrap>div:nth-child(1)>div:nth-child(2){font-size: 5vw;display: flex;margin-bottom: 4.444vw;}
.ham_wrap>div:nth-child(1)>div:nth-child(2)>button{margin-left: 5vw;width: 7.111vw;height: 7.111vw;background: url(../img/me6.png)no-repeat center/90%;;}
.ham_wrap>div:nth-child(1)>div:nth-child(2)>button.my_shop_bt{background: url(../img/aa9.png)no-repeat center/90%;;}
.ham_wrap>div:nth-child(1)>h3{font-size: 3.888vw;padding-bottom: 4.444vw;}
.ham_wrap>div:nth-child(1)>button{background: none;color: #999;font-size: 3.888vw;padding-left: 8vw;background: url(../img/me7.png)no-repeat left center/5.555vw;}


.ham_wrap>div:nth-child(2){padding: 6.666vw 0;border-bottom: 1px solid #ccc;}
.ham_wrap>div:nth-child(2)>div{border-bottom: 1px solid #F1F1F1;padding: 4.444vw 0;}
.ham_wrap>div:nth-child(2)>div:first-of-type{padding-top: 0;}
.ham_wrap>div:nth-child(2)>div:last-of-type{padding-bottom: 0;border-bottom: none;}
.ham_wrap>div:nth-child(2)>div>p{display: block;padding: 0 4.444vw;}
.ham_wrap>div:nth-child(2)>div:nth-child(1)>p>span{width: 6.555vw;height: 5.555vw;margin-right: 2.333vw;display: inline-block;background: url(../img/me1.png)no-repeat center/90%;}
.ham_wrap>div:nth-child(2)>div:nth-child(2)>p>span{width: 6.555vw;height: 5.555vw;margin-right: 2.333vw;display: inline-block;background: url(../img/me_2.png)no-repeat center/90%;}
.ham_wrap>div:nth-child(2)>div:nth-child(3)>p>span{width: 6.555vw;height: 5.555vw;margin-right: 2.333vw;display: inline-block;background: url(../img/me2.png)no-repeat center/90%;}
.ham_wrap>div:nth-child(2)>div:nth-child(4)>p>span{width: 6.555vw;height: 5.555vw;margin-right: 2.333vw;display: inline-block;background: url(../img/me3.png)no-repeat center/90%;}

.do_dim{position: fixed;background: rgba(0,0,0,0.1);width: 100%;height: 100%;left: 0;top:0;z-index: 9999;}
.do_dim>div{position: absolute;left: 0;bottom: 0;width: 100%;background: #fff;;}

.byts{display: flex;justify-content: space-between;margin-top: 8vw;}
.byts>button{width: 50%;font-size: 4.444vw;}
.byts>button:nth-child(1){border-right: 1px solid #ccc;}
.byts>button:nth-child(2){color:#2277F2 ;}

.ham_wrap>div:nth-child(3){padding: 6.666vw 0;border-bottom: 1px solid #ccc;}
.ham_wrap>div:nth-child(3)>div{border-bottom: 1px solid #F1F1F1;padding: 4.444vw 0;}
.ham_wrap>div:nth-child(3)>div:first-of-type{padding-top: 0;}
.ham_wrap>div:nth-child(3)>div:last-of-type{padding-bottom: 0;border-bottom: none;}
.ham_wrap>div:nth-child(3)>div>p{display: block;padding: 0 4.444vw;}
.ham_wrap>div:nth-child(3)>div:nth-child(1)>p>span{width: 6.555vw;height: 5.555vw;margin-right: 2.333vw;display: inline-block;background: url(../img/me4.png)no-repeat center/90%;}
.ham_wrap>div:nth-child(3)>div:nth-child(2)>p>span{width: 6.555vw;height: 5.555vw;margin-right: 2.333vw;display: inline-block;background: url(../img/me5.png)no-repeat center/90%;}

.login_wrap>h2{font-size: 5vw;padding: 6.666vw 0;font-weight: bold;}
.login_wrap>form>input{width: 100%;padding: 2.333vw 0;font-size: 3.888vw;border:none;border-bottom:1px solid #191919;background: none;margin-bottom: 6.666vw;}

.logina_wrap>h2{padding-bottom: 4.444vw;}
.logina_wrap>p{font-size: 3.888vw;color: #707070;}

.chk_wrap>li>input{display: none;}
.chk_wrap>li>label{font-size: 3.888vw;padding-left: 8vw;background: url(../img/ch.png)no-repeat left center/5.555vw;}
.chk_wrap>li>input:checked+label{background: url(../img/ch_on.png)no-repeat left center/5.555vw;}

.lo_joins{border-top: 1px solid #ccc;margin-top: 13.333vw;padding-top: 6.666vw;}

.pw_pick>h2{padding: 6.666vw 0 11.111vw;font-size: 5vw;}
.pw_pick>div>input{width: 100%;border-bottom: 1px solid #000;padding-bottom: 2.333vw;margin-bottom: 4.444vw;}
.pw_pick>div>p{font-size: 3.333vw;color: #707070;}

.sr_ul{margin: 8vw 0;}
.sr_ul>li:nth-child(1){margin-bottom: 8.888vw;}
.sr_ul>li>h3{font-size: 5vw;padding-bottom: 4.444vw;}
.sr_ul>li>input{display: none;}
.sr_ul>li>label{font-size: 3.888vw;color: #2277F2;}

.bt_ne{width: 100%;border: none;background: #191919;font-size: 3.888vw;font-weight: bold;padding: 4.444vw 3.888vw;border-radius: 1.111vw;margin-top: 10.555vw;}
.bt_ne>p{background: url(../img/lo2.png)no-repeat left center/5.444vw;color: #EDD87F;}
.bt_ne2>p{background: url(../img/lo1.png)no-repeat left center/4.444vw;color: #000;}
.bt_neq>p{background: url(../img/lo9.png)no-repeat left center/4.444vw;color: #fff;}
.bt_net>p{background: url(../img/aa8.png)no-repeat left center/4.444vw;}

.bt_neqw>

.lo_joins{border-top: 1px solid #CCC;padding-top: 6.666vw;margin-top: 13.333vw;}
.lo_joins>a{display: block;width: 100%;text-align: center;font-size: 3.888vw;color: #2277F2;}
.lo_joins>a:nth-child(2){color: #707070;padding-top: 6.666vw;}
.chk_wrap_join{margin-top:8.888vw;}
.chk_wrap_join>li{margin-bottom: 4.444vw;}
.chk_wrap_join>li:nth-child(1){padding-bottom: 5vw;}
.chk_wrap_join>li label span{float: right;}

.phone_ins>div{width: 100%;border:none;border-bottom:1px solid #000;padding: 2.333vw 0;display: flex;justify-content: space-between;}
.phone_ins>div input,.phone_ins>div button{font-size: 3.888vw;color: #999;}
.bt_ne3{background: #F1F1F5;}
.bt_ne3>p{background: url(../img/lo3.png)no-repeat left center/3.888vw;color: #000;}

.in_ben1{font-size: 3.888vw;padding-top: 1.111vw;color: #2277F2;}

.bt_nes>p{background: url(../img/logo2.png)no-repeat left center/5.555vw;}
.bt_nel{background: #F9F9F9;border-bottom: 1px solid #F1F1F1;padding-bottom: 6.666vw;}
.bt_nepp{background: #F1F1F5 !important;}
.bt_nepp>p{color: #000;background: url(../img/lo4.png)no-repeat left center/5.555vw;}
.bt_nel>p{background: url(../img/lo4.png)no-repeat left center/5.555vw;color: #000;}

.bt_nepa{background: #EDD87F;}
.bt_nepa>p{color: #000;background: url(../img/x1.png)no-repeat left center/5.555vw;}

.location_uls{margin-top: 5.555vw;}

.area_bt{background: #000;color: #fff;font-size: 3.888vw;border-radius: 1.111vw;padding: 2.333vw 0;text-align: center;}

.area_top{border-bottom: 1px solid #000;padding-bottom: 6.666vw;font-size: 5vw;}

.location_uls>p{font-size: 3.888vw;color: #707070;padding-bottom: 2.333vw;}
.location_uls>div{display: flex;justify-content: space-between;padding-bottom: 2.333vw;border-bottom: 1px solid #000;margin-bottom: 3.333vw;}
.location_uls>div button{width: 5.555vw;height: 5.555vw;background: url(../img/serach.png)no-repeat center/90%;;}
.location_uls input{font-size: 3.888vw;}
.location_uls>input{width: 100%;padding-bottom: 2.333vw;border-bottom: 1px solid #000;;}

.bell_wrap>li{padding: 4.444vw 0;border-bottom: 1px solid #ccc;}
.bell_wrap>li>h3{font-size: 4.444vw;padding-bottom: 4.444vw;font-weight: bold;}
.bell_wrap>li>p{font-size: 3.333vw;padding-bottom: 2.333vw;}
.bell_wrap>li>a{color: #2277F2;font-size: 3.333vw;}

.event_list>li{padding: 6.666vw 0;border-bottom: 1px solid #F1F1F1;}
.event_list>li:first-of-type{padding-top: 0;}
.event_list>li>div{border-radius: 1.111vw;overflow: hidden;margin-bottom: 4.444vw;}
.event_list>li>h3{font-size: 3.888vw;padding-bottom: 2.333vw;font-weight: bold;}
.event_list>li>p{font-size: 3.333vw;color: #707070;}

.event_view>section{padding: 8.888vw 0;border-bottom: 1px solid #F1F1F1;margin-bottom: 8.888vw;}
.event_view>section>h2{font-size: 4.444vw;font-weight: bold;padding-bottom: 5vw;}
.event_view>section>div{display: flex;justify-content: space-between;}
.event_view>section>div>p{font-size: 3.888vw;}
.direct_view>section>div>p>span{padding-left: 5vw;}

.event_view>section>div>button{width: 5.555vw;height: 5.555vw;background: url(../img/cc7.png)no-repeat center/5.555vw;}

.direct_dims{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,0.1);display: none;}
.direct_dims>ul{position: absolute;left: 0;bottom: 0;background: #fff;width: 100%;text-align: center;font-size: 3.888vw;}
.direct_dims>ul>li{padding: 4.444vw 0;font-weight: bold;}
.direct_dims>ul>li:nth-child(1){border-bottom: 1px solid #F1F1F1;}
.direct_dims>ul>li>p{display: block;width: 90%;margin: 0px auto;;}
.direct_dims>ul>li:nth-child(1)>p{background: url(../img/cc8.png)no-repeat left center/5.555vw;}
.direct_dims>ul>li:nth-child(2)>p{background: url(../img/cc9.png)no-repeat left center/5.555vw;}




.market_list{}
.market_list>li{padding: 8.888vw 0;display: flex;}
.market_list>li>div:nth-child(1){width: 13.888vw;height: 13.888vw;border-radius: 4.444vw;margin-right: 6.666vw;overflow: hidden;}
.market_list>li>div:nth-child(2)>p:nth-child(1){font-size: 4.444vw;padding-bottom: 1.111vw;font-weight: bold;}
.market_list>li>div:nth-child(2)>p:nth-child(2){font-size: 3.333vw;color: #707070;}

.bt_nee>p{color: #fff;background: url(../img/lo8.png)no-repeat left center/5.555vw;}

.p_pp{font-size: 3.333vw;padding-top: 2.333vw;}

.app_st>li{padding: 4.444vw;background: #fff;border-radius: 4.444vw;margin-bottom: 6.666vw;box-sizing: border-box;display: flex;}
.app_st>li input{display: none;}
.app_st>li input:checked+label>div:nth-child(1){width: 6.666vw;height: 6.666vw;background: url(../img/chk_on2.png)no-repeat center/90%;}
.app_st>li label{display: flex;justify-content: space-between;width: 100%;}
.app_st>li label>div:nth-child(1){width: 6.666vw;height: 6.666vw;}
.app_st>li label>div:nth-child(2){width: 22vw;}
.app_st>li label>div:nth-child(3)>h2{font-size: 4.444vw;font-weight: bold;padding-bottom: 2.333vw;}
.app_st>li label>div:nth-child(3)>p{font-size: 3.888vw;color: #707070;}

.bt_nev{background: #2277F2;}
.bt_nev>p{color: #fff;}

.st_form>div{margin-bottom: 8.888vw;}
.st_form>div.sta_1>select{width: 100%;box-sizing: border-box;padding: 4.44vw;background: #191919;font-size: 3.888vw;color: #fff;border-radius: 2.333vw;}
.st_form>div.sta_1>select:nth-child(1){margin-bottom: 2.333vw;}

.sta_2>div:nth-child(1) input{width: 100%;padding: 2.333vw 0;font-size: 3.888vw;border-bottom: 0.555vw solid #191919;margin-bottom: 2.333vw;}
.sta_2>div:nth-child(2){margin-top: 7vw;}
.sta_2>div:nth-child(2)>div{display: flex;border-bottom: 0.555vw solid #191919;padding: 2.333vw 0;justify-content: space-between;}
.sta_2>div:nth-child(2)>div button{width: 5.555vw;height: 5.555vw;background: url(../img/serach.png)no-repeat center/90%;}
.sta_2>div:nth-child(2)>input{width: 100%;padding: 2.333vw 0;font-size: 3.888vw;border-bottom: 0.555vw solid #191919;margin-top: 2.333vw;}

.sta_3>p{font-weight: bold;font-size: 3.888vw;padding-bottom: 4.444vw;}
.sta_3>div{margin-bottom: 6.111vw;}
.sta_3>div>div{display: flex;padding: 2.333vw 0;}
.sta_3>div>div>input{border-bottom: 0.555vw solid #000;margin-right: 1.111vw;}
.sta_3>div>div>p{font-size: 3.888vw;font-weight: bold;}
.sta_3>input{padding: 2.333vw 0;border-bottom: 0.555vw solid #000;width: 100%;}

.sta_4>h2{font-size: 5vw;padding-bottom: 2.333vw;}
.sta_4>p{font-size: 3.333vw;color: #707070;padding-bottom: 4.444vw;}
.sta_4>input{display: none;}
.sta_4>label{font-size: 3.888vw;color: #2277F2;}
.sta_4>div{display: flex;justify-content: space-between;margin-top: 3.888vw;}
.sta_4>div>div{width: 48%;position: relative;}
.sta_4>div>div>div:nth-child(1){position: absolute;left: 2.333vw;top: 2.333vw;width: 6.666vw;;}

.sta_5>div>div{width: 100%;}

.bt_ne1>p{background: url(../img/lo14.png)no-repeat left center/5.555vw;}

.app_pay{border-top: 1px solid #000;padding-top: 8.888vw;}
.app_pay>div:nth-child(1){margin-bottom: 17.777vw;}
.app_pay>div>h3{font-size: 4.444vw;color: #191919;padding-bottom: 4.444vw;}
.app_pay>div>h2{font-size: 5.555vw;}

.app_pay2>p{font-size: 4.444vw;color: #707070;padding-bottom: 17.777vw;}
.app_pay2>h3{font-size: 4.444vw;color: #707070;padding-bottom: 4.444vw;;}

.bt_ne2>p{background: url(../img/zz10.png)no-repeat left center/5.555vw;color: #EDD87F;font-weight: bold;}

.top_ms{display: flex;;}
.top_ms>button{margin-left: 4.444vw;width: 6.555vw;height: 6.555vw;}
.top_ms>button.top_map{background: url(../img/lo16.png)no-repeat center/80%;}
.top_ms>button.top_home{background: url(../img/lo17.png)no-repeat center/80%;}

.market_fi{background: #191919;border-radius: 2.333vw;box-sizing: border-box;padding: 4.444vw;display: flex;justify-content: space-between;}
.market_fi>p{color: #fff;font-size: 3.888vw;}
.market_fi>button.fi_set{width: 5.555vw;height: 5.555vw;background: url(../img/z1.png)no-repeat center/90%;}

.market_list2>li{padding: 3.888vw 0;}

.fi_bg{background: rgba(0,0,0,0.1);}
.fi_wrap{width: 100%;background: #fff;position: fixed;left: 0;bottom: -70vw;z-index: 9999;border-radius: 2.333vw 2.333vw 0 0;transition: 0.3s all;}
.fi_wrap_on{bottom: 0;}
.fi_wrap>li:last-of-type label{border-bottom: none;}
.fi_wrap input{display: none;}
.fi_wrap label{padding: 3.888vw 0;font-size: 3.888vw;display: block;width: 100%;border-bottom: 1px solid #CCC;text-align: center;}
.fi_wrap label>p{display: block;width: 90%;margin: 0px auto;}
.fi_wrap input:checked+label>p{background: url(../img/chk_on.png)no-repeat left center/4.444vw;}

.market_title{border-bottom: 1px solid #000;margin: 10.555vw auto;display: block;position: relative;}
.market_title>h2{box-sizing: border-box;padding: 3.333vw;background: #F9F9F9;font-size: 5vw;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);font-weight: bold;}

.ma_bts{display: flex;justify-content: space-between;}

.mar_infos{padding: 6.666vw;border-top: 1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;}
.mar_infos>div{padding-bottom: 6.666vw;;}
.mar_infos>div>p{font-size: 3.888vw;text-align: center;margin-bottom: 4.444vw;}
.mar_infos>div>p:last-of-type{margin-bottom: 0;}
.mar_infos>div>p.mar_p1{background: url(../img/z6.png)no-repeat left center/5.555vw;}
.mar_infos>div>p.mar_p2{background: url(../img/z7.png)no-repeat left center/5.555vw;}
.mar_infos>div>p.mar_p2>span{display: block;color: #EE0000;}
.mar_infos>div>p.mar_p3{background: url(../img/z8.png)no-repeat left center/5.555vw;padding-bottom: 0;}
.mar_infos>div>p.mar_p4{background: url(../img/cc1.png)no-repeat left center/5.555vw;padding-bottom: 0;}
.mar_infos>div>p.mar_p5{background: url(../img/lo16.png)no-repeat left center/5.555vw;padding-bottom: 0;}
.mar_infos>div>p.mar_p6{background: url(../img/cc2.png)no-repeat left center/5.555vw;padding-bottom: 0;font-weight: 900;color: #EE0000;m}

.mar_info{padding-bottom: 6.666vw;margin: 6.666vw auto  0;border-bottom: 1px solid #F9F9F9;}
.mar_info>h3{font-size: 4.444vw;padding-bottom: 2.333vw;}
.mar_info>div{border-radius: 2.333vw;box-sizing: border-box;padding: 4.444vw;font-size: 3.888vw;background: #fff;min-height: 23.333vw;}

.mar_info{}
.mar_gal{display: flex;flex-wrap: wrap;}
.mar_gal>li{width: 31%;margin-right: 2.333vw;margin-bottom: 2.333vw;}
.mar_gal>li:nth-child(3n){margin-right: 0;}

.mar_gall{margin: 4.444vw auto 8.888vw;}
.mar_gall>div{padding: 4.444vw 0;font-size: 3.888vw;}
.mar_gall>div:nth-child(2)>p:nth-child(1){font-size: 3.888vw;padding-bottom: 2.333vw;}
.mar_gall>div:nth-child(2)>p:nth-child(2){font-size: 3.888vw;color: #999;}
.mar_gall>div:nth-child(3){background: #fff;box-sizing: border-box;padding: 4.444vw;font-size: 3.888vw;color: #707070;;}
.mar_gall>div:nth-child(3)>div{width: 5.555vw;margin-bottom: 3.888vw;}

.mar_gall>div:nth-child(4){display: flex;justify-content: space-between;}
.mar_gall>div:nth-child(4)>button{display: block;width: 48%;padding: 3.333vw;border-radius: 2.333vw;border:1px solid #2277F2;box-sizing: border-box;background: #fff;}
.mar_gall>div:nth-child(4)>button>p{color: #2277F2;font-size: 3.888vw;background: url(../img/z14.png)no-repeat left center/3.888vw;}
.mar_gall>div:nth-child(4)>button:nth-child(2){border:1px solid #ccc}
.mar_gall>div:nth-child(4)>button:nth-child(2)>p{color: #ccc;background: url(../img/z15.png)no-repeat left center/3.888vw;}

.reser_wrap>h2{font-size: 4.444vw;padding-bottom: 1.111vw;}
.reser_wrap>div{padding: 4.444vw 0;border-bottom: 1px solid #ccc;}
.reser_wrap>div:nth-child(1){padding-top: 0;}

.res_1 input{font-size: 3.888vw;font-weight: bold;color: #2277F2;width: 100%;}

.res_2>div{display: flex;justify-content: space-around;width: 40%;margin-bottom: 4.444vw;}
.res_2>div h3{font-size: 3.888vw;}
.res_2>div button{width: 5.555vw;height: 5.555vw;}
.res_2>div button.da_left{background: url(../img/z17.png)no-repeat center/2.333vw;}
.res_2>div button.da_right{background: url(../img/z18.png)no-repeat center/2.333vw;}

.res_2>table{width: 100%;border-collapse: collapse;}
.res_2>table td{text-align: center;width: 12.777vw;height: 12.777vw;vertical-align: middle;font-size: 3.888vw;}
.res_2>table tr td:nth-child(1){color: #FF2222;}
.res_2>table tr:nth-child(1) td{border-bottom:1px solid#000;}
.res_2>table tr td:last-of-type td{color: #FF2222;}

.res_3{display: flex;justify-content: space-between;flex-wrap: wrap;margin: 4.444vw 0;}
.res_3>li{width: 30%;margin-bottom: 2.888vw;}
.res_3>li input{display: none;}
.res_3>li label{display: block;;width: 100%;padding: 3.333vw 0;text-align: center;background: #fff;border-radius: 1.111vw;font-size: 3.888vw;color: #000;}
.res_3>li input:checked+label{background: #FF2222;color: #fff;}

.res_4>h3{font-size: 4.444vw;padding: 3.333vw 0 4.444vw;border-top: 1px solid #ccc;}
.res_4>.number{display: flex;}
.res_4>.number>a{width: 7.777vw;height: 7.777vw;background: #FF2222;color: #fff;font-size: 4.444vw;font-weight: bold;text-align: center;line-height: 7.777vw;border-radius: 50%;display: block;}
.res_4>.number>span{font-size: 4.444vw;font-weight: bold;padding: 0 4.444vw;;}

.res_5{box-sizing: border-box;padding: 4.444vw;border-radius: 2.333vw;box-shadow: 0px 3px 6px rgba(0,0,0,0.16);border-bottom: none;margin-top: 3.333vw;}
.res_5>.market_list2>li{padding: 0;}
.res_5>div{display: flex;justify-content: space-between;width: 90%;margin: 5.333vw auto 0;;}
.res_5>div>button{width: 48%;height: 13.888vw;}
.res_5>div>button:nth-child(1){background: #191919;font-size: 3.888vw;font-weight: bold;padding: 4.444vw 3.888vw;border-radius: 1.111vw;}
.res_5>div>button:nth-child(1)>p{color: #EDD87F;font-weight: bold;font-size: 3.888vw;}
.res_5>div>button:nth-child(2){background: #F1F1F1;font-size: 3.888vw;font-weight: bold;padding: 4.444vw 3.888vw;border-radius: 1.111vw;}
.res_5>div>button:nth-child(2)>p{color: #707070;font-weight: bold;font-size: 3.888vw;}

.reser_bf_wrap>h2{font-size: 5vw;border-bottom: 1px solid #000;padding-bottom: 8.888vw;margin-bottom: 8.888vw;}
.reser_bf_wrap>p{color: #707070;font-size: 4.444vw;}

.reser_dd{padding: 8.888vw 0;border-top: 1px dashed #DEDEDE;border-bottom: 1px dashed #DEDEDE;}
.reser_dd>div:nth-child(1){margin-bottom: 6.666vw;}
.reser_dd>div>p:nth-child(1){font-size: 4.444vw;padding-bottom: 4.444vw;color: #707070;}
.reser_dd>div>p:nth-child(2){font-size: 4.444vw;}

.bt_nez>p{background: url(../img/z19.png)no-repeat left center/4.444vw;}

.job_ser_1{border-bottom: 1px solid #000;padding-bottom: 4.444vw;}
.job_ser_1>div:nth-child(1){display: flex;justify-content: space-between;margin-bottom: 6.111vw;}
.job_ser_1>div:nth-child(1)>p{font-size: 4.444vw;padding-left: 8vw;background: url(../img/lo16.png)no-repeat left center/4.444vw;}
.job_ser_1>div:nth-child(1)>button{font-size: 3.333vw;background: #2277F2;color: #fff;font-weight: bold;padding: 1.111vw 5.555vw;border-radius: 2.333vw;}

.job_ser_1>div:nth-child(2){display: flex;justify-content: space-between;}
.job_ser_1>div:nth-child(2)>button{width: 5.555vw;height: 7.555vw;background: url(../img/z21.png)no-repeat center/5.555vw;}
.job_ser_1>div:nth-child(2)>select{color: #fff;font-size: 3.888vw;background: #000;padding: 1.111vw 5.555vw;border-radius: 2.333vw;;}
.job_ser_1>div:nth-child(2)>button.j2{background: url(../img/z22.png)no-repeat center/5.555vw;}

.job_ser_2{padding: 4.444vw 0;}
.job_ser_2>li{display: flex;padding: 3.888vw 0;border-bottom: 1px solid #F1F1F1;}
.job_ser_2>li:first-of-type{padding-top: 0;}
.job_ser_2>li>div:nth-child(1){width: 24.444vw;height: 24.444vw;border-radius: 4.444vw;overflow: hidden;margin-right: 6.666vw;}
.job_ser_2>li>div:nth-child(2)>h2{font-weight: 500;font-size: 4.444vw;}
.job_ser_2>li>div:nth-child(2)>h2.di_h2{color: #000;}
.job_ser_2>li>div:nth-child(2)>h2>span{padding-left: 5vw;}
.job_ser_2>li>div:nth-child(2)>h3{font-size: 3.888vw;padding: 4.444vw 0 2.333vw;}
.job_ser_2>li>div:nth-child(2)>p{font-size: 3.888vw;}
.job_ser_2>li>div:nth-child(2)>p>span{padding-left: 6vw;}
.job_ser_2>li>div:nth-child(2)>p>span.dop_p1{color: #EE0000;}
.job_ser_2>li>div:nth-child(2)>p>span.dop_p2{color: #2277F2;}

.job_2>div{padding: 4.444vw 0;border-bottom: 1px solid #000;}
.job_2>div>div{width: 6.666vw;margin-bottom: 4.444vw;}
.job_2>div>p{font-size: 3.888vw;}
.job_2>div:nth-child(2)>p{color: #FF2222;}
.job_2>div>ul>li{margin-bottom: 6.666vw;font-size: 3.888vw;}
.job_2>div>ul>li:last-of-type{margin-bottom: 0;}
.job_2>div>ul>li:nth-child(1){color: #2222F2;}

.job_2>div>ul>li>p:nth-child(1){font-size: 3.888vw;font-weight: bold;padding-bottom: 1.111vw;}

.jobs>h3{font-size: 3.888vw;padding: 6.666vw 0 2.333vw;}

.jobs_ser>li:first-of-type{border-bottom: 1px solid #000;padding-bottom: 6.666vw;}

.job_pas>a{display: block;width: 100%;box-sizing: border-box;padding: 4.444vw;font-size: 3.888vw;background: #fff;margin-bottom: 2.333vw;border-radius: 1.111vw;color: #707070;}
.job_pas>a>span{padding-left: 4.444vw;}

.job_s>h2{font-size: 5vw;padding-bottom: 4.444vw;}
.job_s>p{font-size: 3.888vw;color: #999;}

.job_s2{border-top: 1px solid #000;padding-top: 8.888vw;}
.job_s2>h2{font-size: 5vw;padding-bottom: 6.666vw;}
.job_s2>ul>li{margin-bottom: 4.444vw;}
.job_s2>ul>li>p{font-size: 4.444vw;color: #707070 !important;}
.job_s2>ul>li>p:nth-child(1){color: #191919;}
.job_s2>ul>li>p:nth-child(2){padding-top: 2.333vw;}

.jjoo{padding-top: 8.888vw;border-top: 1px dashed #ccc;}
.jjoo input{display: none;}
.jjoo label{font-size: 3.888vw;background: url(../img/chk.png)no-repeat left top/5.555vw;display: flex;}
.jjoo label>p:nth-child(1){display: block;width: 12vw;}
.jjoo input:checked+label{background: url(../img/chk_on.png)no-repeat left top/5.555vw;}

.ssrr>p{font-size: 4.444vw !important;padding: 8.888vw 0 4.444vw;}

.job_wr_wrap>div{padding: 8.888vw 0;border-bottom: 1px solid #ccc;}
.job_wr_wrap>div>h3{font-size: 5vw;padding-bottom: 4.444vw;}
.job_wr_wrap>div>h3>span{display: block;color: #707070;font-size: 3.333vw;}

.job_wr_wrap>div:nth-child(1){padding-top: 0;border-bottom: none;}
.job_wr_wrap>div:nth-child(1)>select{width: 100%;display: block;box-sizing: border-box;padding:4.444vw;border-radius: 2.333vw;background: #F1F1F5;}
.job_wr_wrap>div:nth-child(1)>select:nth-child(1){margin-bottom: 2.333vw;}

.job_wr_wrap>div:nth-child(2){border-bottom: none;}
.job_wr_wrap>div:nth-child(2)>input{width: 100%;font-size: 5vw;border-bottom: 0.555vw solid #000;padding-bottom: 2.333vw;margin-bottom: 6.666vw;}

.job_wr_wrap>div input[type="checkbox"]{display: none;}
.job_wr_wrap>div:nth-child(2) label{padding-left: 8vw;background: url(../img/ch.png)no-repeat left center/5.555vw;font-size: 3.888vw;}
.job_wr_wrap>div input[type="checkbox"]:checked+label,.job_wr_wrap>div input[type="radio"]:checked+label{background: url(../img/ch_on.png)no-repeat left center/5.555vw;}

.job_wr_wrap>div:nth-child(3){border-bottom: 1px solid #ccc;}
.text_job{background: #f1f1f5;box-sizing: border-box;padding: 4.444vw;border-radius: 2.333vw;}
.text_job>textarea{background: none;border: none;width: 100%;height: 13.333vw;}
.text_job>div{display: flex;justify-content: space-between;font-size: 3.333vw;color: #999;}

.job_wr_wrap>div:nth-child(4){border-bottom: 1px solid #ccc;}
.map_job>div{display: flex;box-sizing: border-box;padding: 4.444vw;background: #f1f1f5;border-radius: 2.333vw;margin-bottom: 2.333vw;}
.map_job>div>button{width: 5.555vw;height: 5.555vw;margin-right: 2.333vw;background: url(../img/serach.png)no-repeat center/90%;}
.map_job>div>input{width: 86%;font-size: 3.888vw;font-size: 3.888vw;}
.map_job>input{box-sizing: border-box;padding: 4.444vw;background: #f1f1f5;font-size: 3.888vw;border-radius: 2.333vw;width: 100%;}

.job_wr_wrap>div:nth-child(5){}
.time_job{display: flex;justify-content: space-between;}
.time_job>div{display: flex;justify-content: space-between;}
.time_job>div>input{margin-right: 2.333vw;box-sizing: border-box;padding: 4.444vw 3.333vw;background: #f1f1f5;font-size: 3.888vw;border-radius: 2.333vw;}
.time_job>div>p{font-size: 3.888vw;line-height: 14vw;}
.job_wr_wrap>div:nth-child(5) label{padding-left: 8vw;background: url(../img/ch.png)no-repeat left center/5.555vw;font-size: 3.888vw;margin-top: 2.333vw;}
.job_sea{margin-top: 2.333vw;}

.job_wr_wrap>div:nth-child(6) input{display: none;}
.job_wr_wrap>div:nth-child(6) label{padding-left: 8vw;background: url(../img/ch.png)no-repeat left center/5.555vw;font-size: 3.888vw;margin-top: 2.333vw;}
.job_radios{font-size: 3.888vw;}
.job_radios>li{margin-bottom: 4.444vw;}
.job_radios>li:last-of-type{margin-bottom: 0;}

.job_wr_wrap>div:nth-child(7) input{display: none;}
.job_wr_wrap>div:nth-child(7) label{width: 13.111vw;display: inline-block;}

.job_wr_wrap>div:nth-child(8) input{display: none;}
.job_wr_wrap>div:nth-child(8) label{padding-left: 8vw;background: url(../img/ch.png)no-repeat left center/5.555vw;font-size: 3.888vw;margin-top: 2.333vw;}

.job_wr_wrap>div:last-of-type{border-bottom: none;font-size: 5vw;font-weight: bold;}

.pay_yu>li:nth-child(1){margin-bottom: 6.666vw;padding-bottom: 6.666vw;border-bottom: 1px dashed #DEDEDE;}
.pay_yu>li:nth-child(1)>p:nth-child(2){font-size: 5vw;color: #000;}

.dir_ul>li:nth-child(1){margin-bottom: 13.333vw;}
.dir_ul>li:nth-child(1)>h2{font-size: 5vw;padding-bottom: 6.666vw;font-weight: bold;}
.dir_ul>li:nth-child(1)>div{width: 5vw;margin-bottom: 5.555vw;}
.dir_ul>li:nth-child(1)>p{font-size: 3.888vw;}

.dir_ul>li:nth-child(2)>h2{font-size: 3.888vw;padding-bottom: 5.555vw;font-weight: bold;}
.dir_ul>li:nth-child(2)>div{display: flex;font-size: 3.888vw;margin-bottom: 4.444vw;}
.dir_ul>li:nth-child(2)>div>p{display: block;width: 31.111vw;}
.dir_ul>li:nth-child(2)>div>div{display: flex;}
.dir_ul>li:nth-child(2)>div>div>a{display: block;width: 5.555vw;height: 5.555vw;}
.dir_ul>li:nth-child(2)>div>div>a:nth-child(1){background: url(../img/ca1.png)no-repeat center/5.555vw;margin:0 8.888vw 0 4.444vw;}
.dir_ul>li:nth-child(2)>div>div>a:nth-child(2){background: url(../img/ca2.png)no-repeat center/5.555vw;}

.p_dire{display: inline-block;width: 4.555vw;height: 3.555vw;margin-left: 2.333vw;background: url(../img/aa7.png)no-repeat center/90%;}

.direct_wr_wrap>div{margin-bottom: 13.333vw;}
.direct_wr_wrap>div:nth-child(1){width: 100%;font-size: 3.888vw;border-bottom: 1px solid #000;padding-bottom: 2.333vw;}
.direct_wr_wrap>div>h3{font-size: 3.888vw;font-weight: bold;padding-bottom: 2.333vw;}
.direct_wr_wrap>div>h3>span{display: block;color: #999;font-weight: normal;padding-top: 1.111vw;}

.direct_wr_wrap>div:nth-child(2){width: 100%;box-sizing: border-box;padding: 4.444vw;border-radius: 2.333vw;background: #fff;}
.direct_wr_wrap>div:nth-child(2)>div{width: 5.555vw;margin-bottom: 2.333vw;}
.direct_wr_wrap>div:nth-child(2)>textarea{width: 100%;height: 15vw;background: none;border: none;font-size: 3.888vw;}

.dir_file>input{display: none;}
.dir_file>label{font-size: 3.888vw;padding-top: 2.333vw;color: #2277F2;}

.direct_wr_wrap>div:nth-child(4) button{font-size: 3.888vw;padding-top: 2.333vw;color: #2277F2;}

.reser_ul>li{padding: 4.444vw 0;border-bottom: 1px solid #F1F1F1;}
.reser_ul>li:first-of-type{padding-top: 0;}
.reser_ul>li>p{font-size: 5vw;padding-bottom: 4.444vw;}
.reser_ul>li>p>span{color: #ff2222;padding-left: 4.444vw;}

.reser_ul>li>div{background: #fff;border-radius: 2.333vw;box-sizing: border-box;padding: 4.444vw;display: flex;}
.reser_ul>li>div>div:nth-child(1){width: 13.333vw;height: 13.333vw;border-radius: 4.444vw;overflow: hidden;margin-right: 10vw;}
.reser_ul>li>div>div:nth-child(2){margin-right: 20vw;}
.reser_ul>li>div>div:nth-child(2)>p:nth-child(1){font-size: 4.444vw;padding-bottom: 2.333vw;}
.reser_ul>li>div>div:nth-child(2)>p:nth-child(2){font-size: 3.333vw;}
.reser_ul>li>div>button{width: 6.666vw;height: 12.666vw;background: url(../img/zz2.png)no-repeat right center/5.555vw;}

.his_inc{background: #fff;border-radius: 2.333vw;box-sizing: border-box;padding: 4.444vw;}
.his_inc>p{font-size: 3.888vw;color: #707070;padding-bottom: 3.888vw;}
.his_inc>p>span{float: right;color: #2277F2;}
.his_inc>div{display: flex;}

.reser_ul>li>.his_inc>div>div:nth-child(1){width: 13.333vw;height: 13.333vw;border-radius: 4.444vw;overflow: hidden;margin-right: 10vw;}
.reser_ul>li>.his_inc>div>div:nth-child(2){margin-right: 20vw;}
.reser_ul>li>.his_inc>div>div:nth-child(2)>p:nth-child(1){font-size: 4.444vw;padding-bottom: 2.333vw;}
.reser_ul>li>.his_inc>div>div:nth-child(2)>p:nth-child(2){font-size: 3.333vw;}
.reser_ul>li>.his_inc>div>button{width: 6.666vw;height: 12.666vw;background: url(../img/zz2.png)no-repeat right center/5.555vw;}

.reser_info>div{padding: 6.666vw 0;border-bottom: 1px solid #F1F1F1;}
.reser_info>div:nth-child(1){padding-top: 0;}
.reser_info>div:nth-child(1)>div{width: 20vw;height: 20vw;border-radius: 4.444vw;overflow: hidden;margin: 6.666vw auto;}
.reser_info>div:nth-child(1)>ul{display: flex;justify-content: space-between;}

.reser_info>div:nth-child(2){font-size: 5.555vw;}
.reser_info>div:nth-child(2)>h2:nth-child(2){font-weight: 900;color: #2277F2;padding-top: 4.444vw;}

.reser_info>div:nth-child(3)>h3{font-size: 4.444vw;padding-bottom: 6.666vw;}
.reser_info>div:nth-child(3)>ul>li{margin-bottom: 4.444vw;padding-left: 8vw;font-size: 3.888vw;}
.reser_info>div:nth-child(3)>ul>li:nth-child(1){background: url(../img/z6.png)no-repeat left center/5.555vw;}
.reser_info>div:nth-child(3)>ul>li:nth-child(2){background: url(../img/z7.png)no-repeat left center/5.555vw;}
.reser_info>div:nth-child(3)>ul>li:last-of-type{margin-bottom: 0;background: url(../img/lo16.png)no-repeat left center/5.555vw;}

.reser_info>div:nth-child(4)>div:nth-child(1){margin-bottom: 6.666vw;}
.reser_info>div:nth-child(4)>div>p{font-size: 3.888vw;}
.reser_info>div:nth-child(4)>div>p:nth-child(2){padding-top: 4.444vw;color: #707070;}

.list_forms>li{padding: 4.444vw 0;font-size: 4.444vw;border-bottom: 1px solid #ccc;background: url(../img/zz7.png)no-repeat right center/5.555vw;}

.his_1_n>div{padding: 6.666vw 0;border-bottom: 1px solid #F1F1F1;}
.his_1_n>div:nth-child(1)>h3{font-size: 5.555vw;color: #999;padding-bottom: 4.444vw;}
.his_1_n>div:nth-child(1)>h4{font-size: 5vw;padding-bottom: 4.444vw;}
.his_1_n>div:nth-child(1)>p{font-size: 3.888vw;}

.his_1_n>div:nth-child(2)>p{font-size: 3.888vw;}
.his_1_n>div:nth-child(2)>p:nth-child(2){color: #707070;padding-top: 2.333vw;}

.his_1_n>div:nth-child(3){border-bottom: none;}
.his_1_n>div:nth-child(3)>p{font-size: 3.888vw;}
.his_1_n>div:nth-child(3)>p:nth-child(2){color: #707070;padding-top: 2.333vw;}

.his_1_n>a{font-size: 3.888vw;color: #2277F2;}

.his_tab{display: flex;justify-content: space-between;border-bottom: 1px solid #191919;margin: 5vw auto;}
.his_tab>a{display: block;width: 50%;height: 13.333vw;line-height: 13.333vw;text-align: center;font-size: 4.444vw;color: #999;font-weight: bold;}
.his_tab>a.his_act{background: #191919;color: #EDD87F;}

.hia_ul>li{margin-bottom: 5vw;box-sizing: border-box;padding: 4.444vw;border-radius: 2.333vw;background: #fff;}
.hia_ul>li>h3{font-size: 4.444vw;padding-bottom: 1.666vw;color: #999;}
.hia_ul>li>h3.hia_h{color: #000;}
.hia_ul>li>p{font-size: 3.888vw;color: #ccc;}
.hia_ul>li>p.hia_a{color: #FF2222;}

.his2_d>div{padding: 6.666vw 0;border-bottom: 1px dashed #ccc;}

.his2_d>div:nth-child(1){border-bottom: 1px solid #000;}
.his2_d>div:nth-child(1)>h2{font-size: 5vw;padding-bottom: 4.444vw;}
.his2_d>div:nth-child(1)>a{color: #2277F2;font-size: 4.444vw;padding-right: 8vw;background: url(../img/zz8.png)no-repeat right center/5.555vw;}

.his2_d>div:nth-child(2)>h3{font-size: 4.444vw;padding-bottom: 6.666vw;}
.his2_d>div:nth-child(2)>ul>li{margin-bottom: 6.666vw;font-size: 3.888vw;}
.his2_d>div:nth-child(2)>ul>li:last-of-type{margin-bottom: 0;}
.his2_d>div:nth-child(2)>ul>li>p:nth-child(2){color: #707070;padding-top: 2.333vw;}

.his2_d>div:nth-child(3)>h3{font-size: 4.444vw;padding-bottom: 6.666vw;}
.his2_d>div:nth-child(3)>div>p{display: block;width: 100%;margin-bottom: 4.444vw;color: #707070;text-align: center;}
.his2_d>div:nth-child(3)>div>p:nth-child(1){background: url(../img/cc1.png)no-repeat left center/5.555vw;}
.his2_d>div:nth-child(3)>div>p:nth-child(2){background: url(../img/cc3.png)no-repeat left center/5.555vw;}
.his2_d>div:nth-child(3)>div>p:nth-child(3){background: url(../img/cc2.png)no-repeat left center/5.555vw;}
.his2_d>div:nth-child(3)>div>p:last-of-type{margin-bottom: 0;}

.his2_d>div:nth-child(4)>h3{font-size: 4.444vw;padding-bottom: 6.666vw;}

.do_p1{font-size: 3.888vw;padding-left: 8vw;background: url(../img/cc4.png)no-repeat left center/5.555vw;}

.gu_fe>li{padding: 8.888vw 0;border-bottom: 1px solid #f1f1f5;}
.gu_fe>li>p{font-size: 3.888vw;}
.gu_fe>li>p:nth-child(1){font-size: 4.444vw;font-weight: bold;padding-bottom: 2.333vw;}

.dos_ul>li{display: flex;}
.dos_ul>li>div:nth-child(1){width: 20vw;height: 20vw;border-radius: 2.333vw;overflow: hidden;margin-right: 11.111vw;}
.dos_ul>li>div:nth-child(2)>h3{font-size: 4.444vw;padding-bottom: 2.333vw;font-weight: bold;}
.dos_ul>li>div:nth-child(2)>h4{font-size: 3.333vw;}
.dos_ul>li>div:nth-child(2)>p{font-size: 3.333vw;}

.hd_back5{width: auto !important;background: none !important;font-weight: bold;}

.set>div{margin-bottom: 8.888vw;}
.set>div>h3{font-size: 4.444vw;font-weight: bold;color: #D8BB42;padding-bottom: 2.333vw;}
.set>div>ul>li{padding: 4.444vw 0;font-size: 3.888vw;background: url(../img/zz7.png)no-repeat right center/5.555vw;}
.set>div:nth-child(2)>ul>li{background: none;display: flex;justify-content: space-between;}

.em1>h2{font-size: 5vw;padding-bottom: 20vw;}
.em1>button{width: 100%;height: 13.333vw;border-radius: 1.111vw;background: #000;color: #fff;font-weight: bold;font-size: 3.888vw;}

.info1>li{padding: 4.444vw 0;font-size: 3.888vw;background: url(../img/zz7.png)no-repeat right center/5.555vw;font-size: 3.888vw;border-bottom: 1px solid #ccc;}
.info1>li:last-of-type{color: #ccc;}

.infos>li{background: none;border-bottom: none;}
.infos>li:last-of-type{color: #000;}
.infos>li>h3{font-size: 4.444vw;padding-bottom: 2.333vw;}
.infos>li>p{font-size: 3.888vw;color: #999;}

.m_s>div:nth-child(1)>div:nth-child(1){display: flex;justify-content: space-between;}
.m_s>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){display: flex;}
.m_s>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){width: 13.333vw;height: 13.333vw;border-radius: 4.444vw;overflow: hidden;margin-right: 6.666vw;}
.m_s>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h3{font-size: 4.444vw;}
.m_s>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){font-size: 4.444vw;color: #D8BB42;}

.m_s>div:nth-child(1)>div:nth-child(2){display: flex;justify-content: space-between;margin-top: 4.444vw;font-size: 3.333vw;color: #FF2222;font-weight: bold;}
.m_s>div:nth-child(1)>div:nth-child(2)>button{width: 5.555vw;height: 5.555vw;background: url(../img/zz2.png)no-repeat center/5.555vw;}
.m_s>div:nth-child(1)>div:nth-child(3){display: flex;justify-content: space-between;margin: 4.444vw 0;}

.m_s>div:nth-child(1)>div:nth-child(3){border-radius: 2.333vw;background: #fff;box-sizing: border-box;margin-bottom: 8.888vw;}
.m_s>div:nth-child(1)>div:nth-child(3)>div{padding-bottom: 4.444vw;border-bottom: 1px solid #F1F1F1;}
.m_s>div:nth-child(1)>div:nth-child(3)>div>p{font-size: 3.888vw;}
.m_s>div:nth-child(1)>div:nth-child(3)>div>p:nth-child(1){padding-bottom: 4.444vw;}
.m_s>div:nth-child(1)>div:nth-child(3)>button{width: 100%;font-size: 3.888vw;font-weight: bold;color: #D8BB42;background: url(../img/dd5.png)no-repeat left center/5.555vw;}

.m_s>div:nth-child(2)>h3{font-size: 5vw;padding-bottom: 4.444vw;font-weight: bold;}
.m_s>div:nth-child(2)>h3>span{font-size: 3.888vw;color: #999;padding-left: 5vw;}

.m_s>div:nth-child(2)>div{box-sizing: border-box;padding: 4.444vw;border-radius: 2.333vw;background: #fff;font-size: 3.888vw;}

.m_s>div:nth-child(3){margin-top: 8.888vw;}
.m_s>div:nth-child(3)>h3{font-size: 5vw;padding-bottom: 4.444vw;font-weight: bold;}
.m_s>div:nth-child(3)>h4{font-size: 3.888vw;padding-bottom: 4.444vw;}
.m_s>div:nth-child(3)>h4>span{padding-left: 5vw;}
.m_s>div:nth-child(3)>a{font-size: 3.888vw;color: #2277F2;display: block;width: 100%;background: url(../img/zx1.png)no-repeat right center/5.555vw;}
.m_s>div:nth-child(3)>button{width: 100%;margin-top: 3.888vw;}

.m_s>div:nth-child(4){margin-top: 8.888vw;}
.m_s>div:nth-child(4)>h3{font-size: 5vw;font-weight: bold;padding-bottom: 2.333vw;}

.logina_wrap>form>ul>li{padding: 8.888vw 0;border-bottom: 1px solid #F1F1F1;}
.logina_wrap>form>ul>li:nth-child(1){padding-top: 0;margin: 8.888vw 0 0;}
.logina_wrap>form>ul>li:nth-child(1)>div:nth-child(1){margin-bottom: 6.666vw;}
.logina_wrap>form>ul>li:nth-child(1)>div>h3{font-size: 3.888vw;padding-bottom: 2.333vw;}
.logina_wrap>form>ul>li:nth-child(1)>div>input{width: 100%;border-bottom: 1px solid #EDD87F;padding-bottom: 2.333vw;font-size: 3.888vw;}

.em_div{background: url(../img/ds2.png)no-repeat center/5.555vw;}
.em_div2{background: url(../img/ds1.png)no-repeat center/5.555vw;}

.logina_wrap>form>ul>li:nth-child(2)>div{margin-bottom: 6.666vw;}
.logina_wrap>form>ul>li:nth-child(2)>div:nth-child(1)>div{display: flex;justify-content: space-between;padding-bottom: 2.333vw;border-bottom: 1px solid #EDD87F;}
.logina_wrap>form>ul>li:nth-child(2)>div:nth-child(1)>div>div{width: 5.555vw;height: 5.555vw;}
.logina_wrap>form>ul>li:nth-child(2)>div:nth-child(1)>div>input{width: 90%;font-size: 3.888vw;}
.logina_wrap>form>ul>li:nth-child(2)>div:last-of-type{margin-bottom: 0;}
.logina_wrap>form>ul>li:nth-child(2)>div>h3{font-size: 3.888vw;padding-bottom: 2.888vw;}
.logina_wrap>form>ul>li:nth-child(2)>div>input{width: 100%;border-bottom: 1px solid #EDD87F;padding-bottom: 2.333vw;font-size: 3.888vw;}

.ssta_3>button{font-size: 3.888vw;color: #2277F2;margin-bottom: 4.444vw;}
.ssta_3>div{display: flex;justify-content: space-between;}
.ssta_3>div>div{display: flex;padding: 0;}
.ssta_3>div>div>select{box-sizing: border-box;padding: 2.333vw 0;border-bottom: 0.555vw solid #000;font-size: 3.888vw;}
.ssta_3>div>div>select:nth-child(1){margin-right: 6.666vw;}
.ssta_3>div>button{color: #FF2222;font-size: 3.888vw;}

.ccffv>div{width: 30% !important;}

.sta_6>h3{font-size: 5vw;padding-bottom: 2.333vw;}
.sta_6>h4{font-size: 3.333vw;padding-bottom: 1.666vw;}
.sta_6>p{font-size: 3.333vw;color: #707070;}
.sta_6>ul{margin: 6.666vw 0 0;}
.sta_6>ul>li{margin-bottom: 4.444vw;}
.sta_6>ul>li:last-of-type{margin-bottom: 0;}

.sta_6>ul>li>input{display: none;}
.sta_6>ul>li>label{padding-left: 10vw;font-size: 3.888vw;background: url(../img/chk.png)no-repeat left center/5.555vw;}
.sta_6>ul>li>input:checked+label{background: url(../img/chk_on.png)no-repeat left center/5.555vw;}

.sta_7>h3{font-size: 5vw;padding-bottom: 2.333vw;}
.sta_7>p{font-size: 3.333vw;color: #707070;}
.sta_7>p span{color: #EE0000;}
.sta_7>ul{margin: 6.666vw 0 0;}
.sta_7>ul>li{margin-bottom: 4.444vw;}
.sta_7>ul>li:last-of-type{margin-bottom: 0;}

.sta_7>ul>li>input{display: none;}
.sta_7>ul>li>label{padding-left: 10vw;font-size: 3.888vw;background: url(../img/chk.png)no-repeat left center/5.555vw;}
.sta_7>ul>li>input:checked+label{background: url(../img/chk_on.png)no-repeat left center/5.555vw;}

.lon_wrap>h2{font-size: 3.888vw;color: #707070;padding-bottom: 2.333vw;margin-bottom: 2.333vw;}

.ccuil>li{display: flex;justify-content: space-between;font-size: 3.888vw;}
.ccuil>li span{color: #EE0000;}

.uuoo>li{margin-bottom: 4.444vw;}
.uuoo>li:last-of-type{margin-bottom: 0;}
.uuoo input{display: none;}
.uuoo label{font-size: 3.888vw;display: flex;justify-content: space-between;padding-left: 8vw;background: url(../img/chk.png)no-repeat left center/5.555vw;}
.uuoo label span{color: #EE0000;}
.uuoo input:checked+label{background: url(../img/chk_on.png)no-repeat left center/5.555vw;}

.ss_pay>div{padding: 4.444vw 0;}
.ss_pay>div>h3{font-size: 3.888vw;padding-bottom: 6.666vw;font-weight: bold;}

.ch_ui>h3:nth-child(1){font-size: 4.444vw;padding-bottom: 2.333vw;}
.ch_ui>h3:nth-child(2){font-size: 4.444vw;padding-bottom: 0;}

.ch_ui2>section>ul{display: flex;justify-content: space-between;font-size: 3.333vw;}
.ch_ui2>section>h3{color: #707070;padding-bottom: 2.333vw;font-size: 3.333vw;}
.ch_ui2>section:nth-child(1){margin-bottom: 4.444vw;}

.mar_even>h3{font-size: 4.444vw;padding: 6.666vw 0;;}
.mar_even>h4{font-size: 3.888vw;padding:4.444vw 0 2.333vw ;}
.mar_even>h4>span{float: right;display: inline-block;width: 5.555vw;height: 5.555vw;background: url(../img/cc5.png)no-repeat center/5.555vw;}
.mar_even>p{font-size: 3.888vw;color: #707070;padding-bottom: 6.666vw;border-bottom: 1px solid #ccc;}

.dos_ty{display: none;}
.dos_ty>div>div{display: flex;justify-content: space-between;padding: 4.444vw 0 6.666vw;}
.dos_ty>div>div>button{width: 5.555vw;height: 5.555vw;}
.dos_ty>div>div>button:nth-child(1){background: url(../img/aaa.png)no-repeat center/5.555vw;}
.dos_ty>div>div>h2{font-size: 4.444vw;font-weight: bold;}
.dos_ty>div>ul>li{padding: 6.666vw 0;border-bottom: 1px solid #F1F1F1;}
.dos_ty>div>ul>li:first-of-type{padding-top: 0;}
.dos_ty>div>ul>li>h3{font-size: 4.444vw;font-weight: bold;padding-bottom: 2.333vw;}
.dos_ty>div>ul>li>h3>span{display: inline-block;width: 5.666vw;height: 5.666vw;margin-left: 4.444vw;background: url(../img/new.png)no-repeat center/6.666vw;}
.dos_ty>div>ul>li>div{font-size: 3.888vw;display: flex;justify-content: space-between;}
.dos_ty>div>ul>li>div>ul{display: flex;}
.dos_ty>div>ul>li>div>ul>li{width: 5.555vw;height: 5.555vw;margin-left: 6.666vw;}
.dos_ty>div>ul>li>div>ul>li:nth-child(1){background: url(../img/ca1.png)no-repeat center/5.555vw;}
.dos_ty>div>ul>li>div>ul>li:nth-child(2){background: url(../img/ca2.png)no-repeat center/5.555vw;}
.dos_ty>div>ul>li>div>ul>li:nth-child(3){background: url(../img/cc1f.png)no-repeat center/5.555vw;}

.certy>div:nth-child(1) input{display: none;}
.certy>div:nth-child(1) div{margin-top: 5.555vw;height: 35.555vw;background: #f2f2f2;border-right: 1.111vw;overflow: hidden;;}

.certy>div:nth-child(2){margin: 13.333vw 0 5.555vw;}
.certy>div:nth-child(2) input{width: 100%;margin-bottom: 7.111vw;font-size: 3.888vw;border-bottom: 1px solid #000;padding-bottom: 2.333vw;}
.certy>div:nth-child(2) textarea{width: 100%;height: 28.333vw;background: #fff;border-radius: 2.333vw;border:none;box-sizing: border-box;padding: 4.444vw;font-size: 3.888vw;margin-bottom: 13.333vw;}

.d_1a>div{width: 28.888vw;border-radius: 2.333vw;margin-bottom: 4.444vw;overflow: hidden;}
.d_1a>p{font-size: 4.444vw;}

.em1>ul>li{margin-bottom: 8.111vw;}
.em1>ul>li>h3{font-size: 3.888vw;padding-bottom: 4.444vw;}
.em1>ul>li>input{border-bottom: 1px solid #EDD87F;font-size: 3.888vw;padding-bottom: 2.333vw;}

.infos2>li>h3{padding-bottom: 0;}
.infos2>li>p{padding: 4.444vw 0;border-bottom: 1px solid #ccc;margin-bottom: 5.555vw;}
.infos2>li>h4{font-size: 3.888vw;}

.inf_bt{border-top:1px solid #ccc;border-bottom: 1px solid #ccc;margin-top: 40vw;}
.inf_bt>a{display: block;width: 100%;padding: 4.444vw 0;font-size: 3.888vw;color: #707070;}
.inf_bt>a>span{padding-left: 4.444vw;color: #999;}

.faq_m>li{font-size: 4.444vw;background: none;}
.faq_m>li:last-of-type{color: #000;}

.faq_hidden{box-sizing: border-box;padding: 3.333vw;background: #fff;margin-top: 3.888vw;font-size: 3.888vw;display: none;}
.faq_hidden>div{width: 5.555vw;margin-bottom: 3.333vw;}

.fors_bt{position: fixed;left: 0;bottom: 0;width: 100%;padding: 13.333vw 0;background: #191919;;}
.fors_bt>div>div{width: 22.222vw;margin-bottom:8.888vw ;}
.fors_bt>div>p{color: #EDD87F;font-size: 3.333vw;}

.mart_setsz>div:nth-child(1)>div{margin-bottom: 16.666vw;}
.mart_setsz>div:nth-child(1)>div>h3{font-size: 3.888vw;font-weight: bold;padding-bottom: 6.666vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(1)>h2{font-size: 5vw;padding-bottom: 6.666vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(1)>select{width: 100%;display: block;box-sizing: border-box;padding: 4.444vw;border-radius: 2.333vw;background: #191919;color: #fff;margin-bottom: 4.444vw;font-size: 3.888vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(2) input{border-bottom: 1px solid #000;padding-bottom: 2.333vw;width: 100%;font-size: 3.888vw;margin-bottom: 6.111vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(2) input:last-of-type{margin-bottom: 0;}

.mart_setsz>div:nth-child(1)>div:nth-child(3) input{border-bottom: 1px solid #000;padding-bottom: 2.333vw;width: 100%;font-size: 3.888vw;margin-bottom: 6.111vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(3) input:last-of-type{margin-bottom: 0;}

.mart_setsz>div:nth-child(1)>div:nth-child(4)>ul>li{display: flex;margin-bottom: 3.888vw;font-size: 3.888vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(4)>ul>li:last-of-type{margin-bottom: 0;}
.mart_setsz>div:nth-child(1)>div:nth-child(4)>ul>li input{border-bottom: 0.555vw solid #000;margin-right: 2.333vw;width: 34vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(5)>ul>li{display: flex;margin-bottom: 3.888vw;font-size: 3.888vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(5)>ul>li:last-of-type{margin-bottom: 0;}
.mart_setsz>div:nth-child(1)>div:nth-child(5)>ul>li input{border-bottom: 0.555vw solid #000;margin-right: 2.333vw;width: 34vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(6) input{border-bottom: 1px solid #000;padding-bottom: 2.333vw;width: 100%;font-size: 3.888vw;margin-bottom: 6.111vw;}

.flexs{font-size: 3.888vw;}
.flexs>div:nth-child(1){margin-right: 5vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(7)>p{font-size: 3.333vw;color: #707070;padding-top: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(8)>h3{padding-bottom: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(8)>button{font-size: 3.888vw;color: #2277F2;margin-bottom: 6.666vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(8)>div{display: flex;justify-content: space-between;}
.mart_setsz>div:nth-child(1)>div:nth-child(8)>div select{font-size: 3.888vw;border: none;border-bottom: 1px solid #000;padding-bottom: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(8)>div select:nth-child(1){margin-right: 3.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(8)>div button{font-size: 3.888vw;color: #FF2222;}

.mart_setsz>div:nth-child(1)>div:nth-child(9)>h3{font-size: 5vw;padding-bottom: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(9)>p{font-size: 3.333vw;color: #707070;padding-bottom: 4.444vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(9)>div>input{display: none;}
.mart_setsz>div:nth-child(1)>div:nth-child(9)>div>label{font-size: 3.888vw;color: #2277f2;margin-bottom: 3.888vw;display: inline-block;}
.mart_setsz>div:nth-child(1)>div:nth-child(9)>div>div{display: flex;justify-content: space-between;}
.mart_setsz>div:nth-child(1)>div:nth-child(9)>div>div>div{position: relative;width: 48%;}
.mart_setsz>div:nth-child(1)>div:nth-child(9)>div>div>div>section{position: absolute;left: 2.333vw;top: 2.333vw;width: 6.666vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(10)>h3{font-size: 5vw;padding-bottom: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(10)>p{font-size: 3.333vw;color: #707070;padding-bottom: 4.444vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(10)>div>input{display: none;}
.mart_setsz>div:nth-child(1)>div:nth-child(10)>div>label{font-size: 3.888vw;color: #2277f2;margin-bottom: 3.888vw;display: inline-block;}
.mart_setsz>div:nth-child(1)>div:nth-child(10)>div>div{display: flex;justify-content: space-between;}
.mart_setsz>div:nth-child(1)>div:nth-child(10)>div>div>div{position: relative;width: 31%;}
.mart_setsz>div:nth-child(1)>div:nth-child(10)>div>div>div>section{position: absolute;left: 2.333vw;top: 2.333vw;width: 6.666vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(11)>h3{font-size: 5vw;padding-bottom: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(11)>p{font-size: 3.333vw;color: #707070;padding-bottom: 4.444vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(11)>ul input{display: none;}
.mart_setsz>div:nth-child(1)>div:nth-child(11)>ul>li{margin-bottom: 3.888vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(11)>ul>li>label{font-size: 3.888vw;display: inline-block;padding-left: 8vw;background: url(../img/chk.png)no-repeat left center/5.555vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(11)>ul input:checked+label{background: url(../img/chk_on.png)no-repeat left center/5.555vw;}

.mart_setsz>div:nth-child(1)>div:nth-child(12)>h3{font-size: 5vw;padding-bottom: 2.333vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(12)>p{font-size: 3.333vw;color: #707070;padding-bottom: 4.444vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(12)>ul input{display: none;}
.mart_setsz>div:nth-child(1)>div:nth-child(12)>ul>li{margin-bottom: 3.888vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(12)>ul>li>label{font-size: 3.888vw;display: inline-block;padding-left: 8vw;background: url(../img/chk.png)no-repeat left center/5.555vw;}
.mart_setsz>div:nth-child(1)>div:nth-child(12)>ul input:checked+label{background: url(../img/chk_on.png)no-repeat left center/5.555vw;}